<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
     <classes>
	  <class name="com.javacodegeeks.testng.selenium.TestNGExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDataDrivenSearchExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumSimpleSearchExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDriverInjectionExample"/>
      <class name="com.javacodegeeks.testng.selenium.TestNGSeleniumDependentMethodExample"/>
    </classes>
   </test> <!-- Test -->

    <test name="TestNgSeleniumChromeTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class
				name="com.javacodegeeks.testng.selenium.TestNGSeleniumBrowserCfgExample" />
		</classes>
	</test>

	<test name="TestNgSeleniumFirefoxTest">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class
				name="com.javacodegeeks.testng.selenium.TestNGSeleniumBrowserCfgExample" />
		</classes>
	</test>

</suite> <!-- Suite -->
